* {margin: 0;
   padding: 0;}

html{font-size: 62, 5%;}




.body{background-color: #cd86ee57;}



.logo-fixed{width: 10vw;
            z-index: 100px;
            position: fixed;}


.banner{width: 100vw;
        height: 50vh;
        padding: 0px;
        margin: 0px;}




.navbar{display: flex;
        flex-direction: row;
        justify-content: center;
        background: rgb(131, 58, 180);
        background: linear-gradient(77deg, rgba(131, 58, 180, 1) 0%, rgba(221, 194, 220, 0.8211659663865546) 53%, rgba(252, 176, 69, 1) 100%);}




.navbar li{font-family: 'verdana', sans-serif;
           color: #0c0101;
           text-transform: uppercase;
           text-align: center;
           display: inline;
           font-size: 14px;
           font-weight: 600;
           list-style-type: none;
           margin: 5px;
           padding-right: 80px;
           padding: 5px;
           position: static;
           background-color: #f54ea2}




h1{text-align: center;
   color: #ff0496;
   text-transform: uppercase;
   font-family: 'Kalam', cursive;
   font-weight: bold;
   top: 70px;
   left: 500px;
   right: 500px;
   position: absolute;
   background-color: hsl(305, 70%, 82%);}


h2{text-align: center;
   color: #ff0496;
   font-family: 'Kalam', cursive;
   font-weight: bold;
   margin-top: 30px;
   margin-bottom: 10px;}


h3{color: #4d0581;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;}


h4{color: #08000e;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Geneva, Tahoma, sans-serif, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;}



.grid-main{display: grid;
           padding: 1em;}





.main{display: flex;
      flex-direction: row;
      align-items: center;
      background: rgb(131, 58, 180);
      background: linear-gradient(77deg, rgba(131, 58, 180, 1) 0%, rgba(221, 194, 220, 0.8211659663865546) 53%, rgba(252, 176, 69, 1) 100%);}


.animate__lightSpeedInLeft{animation-duration: 10s;}


.main p{width: 690px;
        height: 185px;
        color: #242424;
        text-align: right;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-top: 100px;
        font-family: 'Lato', sans-serif;}


.decoración{width: 40vw;
            height: 50vh;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 20px;
            margin-right: 20px;}


p{color: #242424;
  font-family: 'Lato', sans-serif;}




.section0{display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: center;
         align-items: center;
         background: rgb(202, 41, 92);
         background: linear-gradient(90deg, rgba(202, 41, 92, 1) 4%, rgba(253, 29, 29, 0.3785889355742297) 38%, rgba(184, 122, 226, 1) 70%, rgba(252, 176, 69, 1) 94%);}


.animate__heartBeat{animation-duration: 30s;}


.jugando{width: 350px;
         height: 250px;
         top: 10px;
         margin: 25px;
         padding: 50px;}


.boda{width: 350px;
      height: 250px;
      top: 10px;
      margin: 25px;
      padding: 50px;}



.quinceañera{width: 350px;
             height: 250px;
             top: 10px;
             margin: 25px;
             padding: 50px;}



.grids-section1{display: grid;
                padding: 1em;
                justify-items: center;}





.section1{display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          background-color: #eb86a8;}




.section1 p{width: 690px;
            height: 185px;
            color: #242424;
            text-align: right;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            margin-top: 100px;
            font-family: 'Lato', sans-serif;}


.entradaNosotros{height: 350px;
                 margin-top: 35px;
                 margin-bottom: 30px;
                 margin-left: 20px;
                 margin-right: 20px;}



.section2{display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: rgb(238, 174, 202);
          background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(156, 148, 233, 1) 100%);}




.objetivo{width: 690px;
          color: #242424;
          text-align: center;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          margin-top: 35px;
          margin-bottom: 30px;
          font-family: 'Lato', sans-serif;}



.section3{display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background-color: rgb(238, 176, 106);}


.table{width: 400px;
       height: 350px;
       text-align: center;
       top: 5px;
       left: 500px;
       margin: 25px;
       padding: 50px;
       border-color: #0c0101;
       background-color: #e2b7f3;}


.globoServicios{width: 500px;
                height: 450px;
                top: 5px;
                left: 500px;
                margin: 25px;
                padding: 50px;}


.section4 {display: flex;
           flex-direction: column;
           justify-content: center;
           text-align: center;
           background-color: #a930e673;
           position: relative;
           top: 10px;}

           
.carousel{margin: 0 auto;
          bottom: 10px;}



.section5{display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          text-align: center;
          margin-bottom: 40px;
          background: rgb(34, 193, 195);
          background: linear-gradient(194deg, rgba(34, 193, 195, 1) 0%, rgba(203, 246, 38, 1) 100%);}



.animate__rollIn{animation-duration: 5s;}      


.section6{display: flex;
         justify-content: center;
         margin-bottom: 40px;}



.section7{display: flex;
         flex-direction: row;
         background-color: #c986eb;}



.footer{background-color: #c986eb;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        text-align: center;}



/* TAMAÑO MOBILE */

@media (max-width: 540px) {

         h1 {display: none;}


        .logo-fixed{width: 20vw;
                    z-index: 100px;}


        .banner{width: 100vw;}


        .navbar{display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;}


        .main{display: flex;
              flex-direction: column;
              align-items: center;}


        .main p{width: 100%;
                text-align: center;
                vertical-align: middle;}



        .decoración{width: 88%;
                    vertical-align: middle;}


        .section0{display: flex;
                  flex-direction: column;
                  align-items: center;}


        .section1{display: flex;
                  flex-direction: column;
                  align-items: center;}


        .section1 p{width: 100%;
                    text-align: center;
                    vertical-align: middle;}


        .entradaNosotros{width: 88%;
                         vertical-align: middle;}


        .section2{display: flex;
                  flex-direction: column;
                  align-items: center;}


        .objetivo{width: 100%;
                  text-align: center;
                  vertical-align: middle;}
      

        .section3{display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;}

        .section4{display: flex;
                  flex-direction: column;
                  align-items: center;}


        .section5{display: flex;
                  flex-direction: column;
                  align-items: center;}


        .section6{display: flex;
                  flex-direction: column;
                  align-items: center;}



       