@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62, 5%; }

.body {
  background-color: #cf8eee57;
  overflow-x: hidden; }

p {
  color: #242424;
  font-family: 'Lato', sans-serif; }

h1 {
  text-align: center;
  color: #ff0496;
  text-transform: uppercase;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  top: 70px;
  left: 500px;
  right: 500px;
  position: absolute;
  background-color: #f1b1ec; }

h2, h3 {
  text-align: center;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  color: #ff0496;
  margin-top: 30px;
  margin-bottom: 10px; }

h3 {
  color: #4d0581;
  margin-top: 20px;
  margin-bottom: 30px; }

h4 {
  color: #08000e;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Geneva, Tahoma, sans-serif, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px; }

.animate__zoomIn {
  animation-duration: 6s; }

.animate__heartBeat {
  animation-duration: 30s; }

.animate__rollIn {
  animation-duration: 5s; }

header .logo-fixed {
  width: 8vw;
  z-index: 100px;
  position: fixed; }

header .banner {
  width: 100vw;
  height: 40vh;
  padding: 0px;
  margin: 0px; }

header .navbar {
  background: #833ab4;
  background: linear-gradient(77deg, #833ab4 0%, rgba(221, 194, 220, 0.821166) 53%, #fcb045 100%); }
  header .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    header .navbar ul li {
      font-family: 'verdana', sans-serif;
      color: #0c0101;
      text-transform: uppercase;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      margin: 5px;
      padding: 5px;
      background-color: #f54ea2; }
      header .navbar ul li a {
        list-style-type: none;
        color: #0b8dd8; }
        header .navbar ul li a:hover {
          color: #f5e44e; }

.grid-descripcion {
  display: grid;
  padding: 1em; }

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid;
  background: #833ab4;
  background: linear-gradient(77deg, #833ab4 0%, rgba(221, 194, 220, 0.821166) 53%, #fcb045 100%); }
  .section p {
    width: 690px;
    height: 185px;
    color: #242424;
    text-align: right;
    font-size: 16px;
    margin-top: 100px;
    font-family: 'Lato', sans-serif; }
  .section .img-descripcion {
    width: 40vw;
    height: 50vh;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px; }

.section0 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: #ca295c;
  background: linear-gradient(90deg, #ca295c 4%, rgba(253, 29, 29, 0.378589) 38%, #b87ae2 70%, #fcb045 94%); }

.jugando {
  width: 350px;
  height: 250px;
  top: 10px;
  margin: 25px;
  padding: 50px; }

.boda {
  width: 350px;
  height: 250px;
  top: 10px;
  margin: 25px;
  padding: 50px; }

.quinceañera {
  width: 350px;
  height: 250px;
  top: 10px;
  margin: 25px;
  padding: 50px; }

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eb86a8; }
  .section1 p {
    color: #242424;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    text-align: right;
    margin-top: 100px; }
  .section1 .entradaNosotros {
    height: 350px;
    margin-top: 35px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px; }

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #9c94e9 100%); }
  .section2 .objetivo {
    width: 690px;
    color: #242424;
    text-align: center;
    font-size: 16px;
    margin-top: 35px;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif; }

.section3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eeb06a; }
  .section3 .table {
    width: 400px;
    height: 350px;
    text-align: center;
    top: 5px;
    left: 20px;
    margin: 25px;
    padding: 50px;
    border-color: #0c0101;
    background-color: #e2b7f3; }
  .section3 .globoServicios {
    width: 400px;
    height: 350px;
    margin-top: 35px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px; }

.section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #a930e673;
  position: relative; }
  .section4 .carousel {
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    bottom: 10px; }

.section5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 40px;
  background: #22c1c3;
  background: linear-gradient(194deg, #22c1c3 0%, #cbf626 100%); }

.section6 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px; }

footer {
  background-color: #c986eb;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-align: center; }
  footer .section7 {
    display: flex;
    flex-direction: row; }

@media (max-width: 540px) {
  .body {
    overflow-x: hidden; }
  h1 {
    display: none; }
  header .logo-fixed {
    width: 15vw;
    z-index: 100px; }
  header .banner {
    width: 100vw; }
  header .navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section p {
      width: 100%;
      text-align: center;
      vertical-align: middle; }
    .section .img-descripcion {
      width: 88%;
      vertical-align: middle; }
  .section0 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section1 p {
      width: 100%;
      text-align: center;
      vertical-align: middle; }
    .section1 .entradaNosotros {
      width: 88%;
      vertical-align: middle; }
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section2 .objetivo {
      width: 100%;
      text-align: center;
      vertical-align: middle; }
  .section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .section3 .table {
      width: 88%;
      vertical-align: middle; }
    .section3 .globoServicios {
      max-width: 88%;
      vertical-align: middle; }
  .section4 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section4 .carousel {
      width: 100%; }
  .section5 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section6 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section6 .map-responsive {
      width: 100%;
      overflow-x: hidden;
      vertical-align: middle; }
  .footer {
    width: 100%;
    text-align: center;
    vertical-align: middle; } }
